body {
    background-color: #4a5568;
}
.container-main {
    background-color: lightblue;
    padding: 50px;
    border: 10px double slateblue;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.auth-box {
    background-color: lightblue;
    padding: 50px;
    border: 10px double slateblue;
    border-radius: 10px;
    margin: 100px 300px;
}
.cursor-pointer {
    cursor: pointer;
}
.tik-box {
    width: 100px;
    height: 100px;
    border: 1px solid cadetblue;
    background-color: white;
    cursor: pointer;
}
